*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'baloo 2' , cursive;
    color:#524A4E;
}

/*
    -----------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------
    SEÇÃO CABEÇALHO
    -----------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------
*/

.cabecalho{
    background-color: #FFABAB;
    opacity: 0.85;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

.titulo-logo-cabecalho{
    display: flex;
    font-size: 25px;
}
.logo-cabecalho{
    margin-left: 3rem;
    width: 10rem;
}
.titulo-cabecalho{
    padding: 2rem 0rem 2rem 0rem;
    margin-top: 1.5rem;;
    font-size: 55px;
}

.navegacao-links-cabecalho{
    margin-top: 4.5rem;
}
.link-cabecalho{
    padding: 1rem;
    font-weight:700;
    color:#524A4E;
}

nav{
    display:flex;
}

.div-link-cabecalho:hover {
    transition:3s;
    transform: scale(1.15); 
}

/*
    -----------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------
    SEÇÃO MEIO
    -----------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------

*/
main{
    background-image: linear-gradient(#FFB8B8,#FEF9FA);
    text-align:center;
}

.div-quem-somos {
    margin:auto;
    width: 70%;
}

h2{
   font-size:35px;
}
.servicos-prestados h2{
    margin: 2rem 0rem;
}
.serviços-prestados{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.imagem-servico-prestado{
    width: 7rem;
    border-radius:1rem;
}

.servicos-prestados-items{
    width: 10rem;
    display: block;
    height: 14rem ;
    border: black 2px solid;
    border-radius:1rem;
    margin:auto;
    margin-bottom: 3rem;
}

.servicos-prestados-items:hover{
    transition: 2s all;
    transform: scale(1.1);
}

/*
    -----------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------
    SEÇÃO RODAPÉ
    -----------------------------------------------------------------------------------------
    -----------------------------------------------------------------------------------------

*/

footer{
    background-color:#FFABAB;
}

.titulo-rodape{
    text-align: center;
}

.formas-contato{
    padding: 2rem 0rem  2rem 2rem;
    display: block;
    gap: 2rem;
    font-weight: 500;
}

 .telefone-rodape, .email-rodape, .endereco-rodape{
    margin-top: 1rem;
    font-weight: 600;
}

.logo-rodape{
    width: 1.2rem;
    margin-left: 1rem;
}

.telefone-rodape, .email-rodape, .endereco-rodape{
    display: flex;
}
